body{
    background-color: brown;

}
ho{
    background-color: green;
}
h2{
    background-color: blue;

}
p{
    background-color: rgb(127,136,225);
}
ol{
    list-style-type: upper-roman;
}
ul{
    list-style-type: circle;
}